<a href="https://colab.research.google.com/github/ChristianOLopez/PythonEDA/blob/main/SalarySurveyProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount("/content/drive/")

Mounted at /content/drive/

In [3]:
salary = pd.read_csv("/content/drive/MyDrive/PYTHON ESENCIALS/IT Salary Survey EU  2020.csv")

In [6]:
salary.head()

             Timestamp  ...  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
0  24/11/2020 11:14:15  ...                                                NaN
1  24/11/2020 11:14:16  ...                                                NaN
2  24/11/2020 11:14:21  ...                                                NaN
3  24/11/2020 11:15:24  ...                                                NaN
4  24/11/2020 11:15:46  ...                                                NaN

[5 rows x 23 columns]

In [7]:
salary.describe()

               Age  ...  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week
count  1226.000000  ...                                         373.000000
mean     32.509788  ...                                          12.967828
std       5.663804  ...                                          15.275174
min      20.000000  ...                                           0.000000
25%      29.000000  ...                                           0.000000
50%      32.000000  ...                                           0.000000
75%      35.000000  ...                                          30.000000
max      69.000000  ...                                          40.000000

[8 rows x 4 columns]