<a href="https://colab.research.google.com/github/ChristianOLopez/PythonEDA/blob/main/SalarySurveyProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns # se importan las librerias necesarias para el EDA

In [2]:
from google.colab import drive
drive.mount("/content/drive/") # se conecta con el drive personal

Mounted at /content/drive/

In [3]:
salary = pd.read_csv("/content/drive/MyDrive/PYTHON ESENCIALS/IT Salary Survey EU  2020.csv") # carga el archivo desde el drive ya conectado (poner ruta)

In [6]:
salary.head() # Primeros registros

             Timestamp  ...  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
0  24/11/2020 11:14:15  ...                                                NaN
1  24/11/2020 11:14:16  ...                                                NaN
2  24/11/2020 11:14:21  ...                                                NaN
3  24/11/2020 11:15:24  ...                                                NaN
4  24/11/2020 11:15:46  ...                                                NaN

[5 rows x 23 columns]

In [7]:
salary.describe()

               Age  ...  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week
count  1226.000000  ...                                         373.000000
mean     32.509788  ...                                          12.967828
std       5.663804  ...                                          15.275174
min      20.000000  ...                                           0.000000
25%      29.000000  ...                                           0.000000
50%      32.000000  ...                                           0.000000
75%      35.000000  ...                                          30.000000
max      69.000000  ...                                          40.000000

[8 rows x 4 columns]

In [8]:
salary.tail() # Ãºltimos registros

                Timestamp  ...  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
1248  18/01/2021 15:05:50  ...                                                NaN
1249  18/01/2021 17:46:02  ...                                                  0
1250  18/01/2021 23:20:35  ...                                                NaN
1251  19/01/2021 10:17:58  ...                                                  0
1252  19/01/2021 12:01:11  ...                                                600

[5 rows x 23 columns]

In [9]:
salary.shape # filas y columnas

(1253, 23)

In [10]:
salary.columns # que campos hay

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position ',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', 'Ð¡ontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'],
      dtype='object')

In [11]:
salary.nunique() # cuantos datos por campo

Timestamp                                                                                                                  1248
Age                                                                                                                          40
Gender                                                                                                                        3
City                                                                                                                        119
Position                                                                                                                    148
Total years of experience                                                                                                    48
Years of experience in Germany                                                                                               53
Seniority level                                                                                                              24
Your main technology / programming language                                                                                 256
Other technologies/programming languages you use often                                                                      562
Yearly brutto salary (without bonus and stocks) in EUR                                                                      201
Yearly bonus + stocks in EUR                                                                                                168
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                    147
Annual bonus+stocks one year ago. Only answer if staying in same country                                                    131
Number of vacation days                                                                                                      45
Employment status                                                                                                            11
Ð¡ontract duration                                                                                                             3
Main language at work                                                                                                        14
Company size                                                                                                                  5
Company type                                                                                                                 63
Have you lost your job due to the coronavirus outbreak?                                                                      10
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                            23
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR      59
dtype: int64