In [1]:
import pandas as pd
import numpy as np
import seaborn as sns # importando las librerias necesarias para el EDA

In [2]:
from google.colab import drive
drive.mount("/content/drive/") # conectando con el drive personal

Mounted at /content/drive/

In [3]:
salary = pd.read_csv("/content/drive/MyDrive/PYTHON ESENCIALS/IT Salary Survey EU  2020.csv") # cargando el archivo desde el drive ya conectado (poner ruta)

In [4]:
salary.head() # Primeros registros

             Timestamp  ...  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
0  24/11/2020 11:14:15  ...                                                NaN
1  24/11/2020 11:14:16  ...                                                NaN
2  24/11/2020 11:14:21  ...                                                NaN
3  24/11/2020 11:15:24  ...                                                NaN
4  24/11/2020 11:15:46  ...                                                NaN

[5 rows x 23 columns]

In [5]:
salary.describe() # datos estadÃ­sticos

               Age  ...  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week
count  1226.000000  ...                                         373.000000
mean     32.509788  ...                                          12.967828
std       5.663804  ...                                          15.275174
min      20.000000  ...                                           0.000000
25%      29.000000  ...                                           0.000000
50%      32.000000  ...                                           0.000000
75%      35.000000  ...                                          30.000000
max      69.000000  ...                                          40.000000

[8 rows x 4 columns]

In [6]:
salary.tail() # Ãºltimos registros

                Timestamp  ...  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
1248  18/01/2021 15:05:50  ...                                                NaN
1249  18/01/2021 17:46:02  ...                                                  0
1250  18/01/2021 23:20:35  ...                                                NaN
1251  19/01/2021 10:17:58  ...                                                  0
1252  19/01/2021 12:01:11  ...                                                600

[5 rows x 23 columns]

In [7]:
salary.shape # filas y columnas

(1253, 23)

In [8]:
salary.columns # que campos tiene

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position ',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', 'Ð¡ontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'],
      dtype='object')

In [9]:
salary.nunique() # cuantos valores por campo (no incluye vacÃ­os)

Timestamp                                                                                                                  1248
Age                                                                                                                          40
Gender                                                                                                                        3
City                                                                                                                        119
Position                                                                                                                    148
Total years of experience                                                                                                    48
Years of experience in Germany                                                                                               53
Seniority level                                                                                                              24
Your main technology / programming language                                                                                 256
Other technologies/programming languages you use often                                                                      562
Yearly brutto salary (without bonus and stocks) in EUR                                                                      201
Yearly bonus + stocks in EUR                                                                                                168
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                    147
Annual bonus+stocks one year ago. Only answer if staying in same country                                                    131
Number of vacation days                                                                                                      45
Employment status                                                                                                            11
Ð¡ontract duration                                                                                                             3
Main language at work                                                                                                        14
Company size                                                                                                                  5
Company type                                                                                                                 63
Have you lost your job due to the coronavirus outbreak?                                                                      10
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                            23
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR      59
dtype: int64

In [10]:
salary["Gender"].unique() # que valores hay por columna. VacÃ­o lo identifica como "nan"

array(['Male', 'Female', nan, 'Diverse'], dtype=object)

In [11]:
salary["Company size"].unique()

array(['51-100', '101-1000', '11-50', '1000+', nan, 'up to 10'],
      dtype=object)

In [12]:
salary.isnull().sum() # cuantos registros estan vacios por cada campo

Timestamp                                                                                                                    0
Age                                                                                                                         27
Gender                                                                                                                      10
City                                                                                                                         0
Position                                                                                                                     6
Total years of experience                                                                                                   16
Years of experience in Germany                                                                                              32
Seniority level                                                                                                             12
Your main technology / programming language                                                                                127
Other technologies/programming languages you use often                                                                     157
Yearly brutto salary (without bonus and stocks) in EUR                                                                       0
Yearly bonus + stocks in EUR                                                                                               424
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                   368
Annual bonus+stocks one year ago. Only answer if staying in same country                                                   639
Number of vacation days                                                                                                     68
Employment status                                                                                                           17
Ð¡ontract duration                                                                                                           29
Main language at work                                                                                                       16
Company size                                                                                                                18
Company type                                                                                                                25
Have you lost your job due to the coronavirus outbreak?                                                                     20
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                          880
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR    791
dtype: int64

In [13]:
basic = salary.drop(['Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', 'Ð¡ontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'], axis=1) # quitando campos que no se van a usar y creando la nueva base basic

In [14]:
basic.head() # mostrando la nueva base con los campos principales

             Timestamp  ...  Yearly brutto salary (without bonus and stocks) in EUR
0  24/11/2020 11:14:15  ...                                            80000.0
1  24/11/2020 11:14:16  ...                                            80000.0
2  24/11/2020 11:14:21  ...                                           120000.0
3  24/11/2020 11:15:24  ...                                            54000.0
4  24/11/2020 11:15:46  ...                                            62000.0

[5 rows x 11 columns]

In [15]:
basic.info() # estructura de la base

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 11 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Timestamp                                               1253 non-null   object
 1   Age                                                     1226 non-null   float64
 2   Gender                                                  1243 non-null   object
 3   City                                                    1253 non-null   object
 4   Position                                                1247 non-null   object
 5   Total years of experience                               1237 non-null   object
 6   Years of experience in Germany                          1221 non-null   object
 7   Seniority level                                         1241 non-null   object
 8   Your main technology / programming language             1126 non-null   object
 9   Other technologies/programming languages you use often  1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR  1253 non-null   float64
dtypes: float64(2), object(9)
memory usage: 107.8+ KB

In [16]:
basic["Timestamp"] = pd.to_datetime(basic["Timestamp"]) # convirtiendo el campo Timestamp de objeto a fecha
basic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 11 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Timestamp                                               1253 non-null   datetime64[ns]
 1   Age                                                     1226 non-null   float64
 2   Gender                                                  1243 non-null   object
 3   City                                                    1253 non-null   object
 4   Position                                                1247 non-null   object
 5   Total years of experience                               1237 non-null   object
 6   Years of experience in Germany                          1221 non-null   object
 7   Seniority level                                         1241 non-null   object
 8   Your main technology / programming language             1126 non-null   object
 9   Other technologies/programming languages you use often  1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR  1253 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 107.8+ KB

In [17]:
basic["AÃ±o"] = basic["Timestamp"].dt.year # crea 5 nuevas columnas con los datos de la fecha en timestamp
basic["Year"] = basic["Timestamp"].dt.year
basic["Month"] = basic["Timestamp"].dt.month
basic["Day"] = basic["Timestamp"].dt.day
basic["Hour"] = basic["Timestamp"].dt.hour

In [18]:
basic = basic.drop(columns=["AÃ±o"]) # eliminar columnas
basic.tail()

               Timestamp   Age Gender         City  ...  Year Month Day Hour
1248 2021-01-18 15:05:50  31.0   Male       Berlin  ...  2021     1  18   15
1249 2021-01-18 17:46:02  33.0   Male       Berlin  ...  2021     1  18   17
1250 2021-01-18 23:20:35  39.0   Male       Munich  ...  2021     1  18   23
1251 2021-01-19 10:17:58  26.0   Male  SaarbrÃ¼cken  ...  2021     1  19   10
1252 2021-01-19 12:01:11  26.0   Male       Berlin  ...  2021     1  19   12

[5 rows x 15 columns]

In [19]:
basic.head()

            Timestamp   Age Gender    City  ...  Year Month Day Hour
0 2020-11-24 11:14:15  26.0   Male  Munich  ...  2020    11  24   11
1 2020-11-24 11:14:16  26.0   Male  Berlin  ...  2020    11  24   11
2 2020-11-24 11:14:21  29.0   Male  Berlin  ...  2020    11  24   11
3 2020-11-24 11:15:24  28.0   Male  Berlin  ...  2020    11  24   11
4 2020-11-24 11:15:46  37.0   Male  Berlin  ...  2020    11  24   11

[5 rows x 15 columns]

In [20]:
basic.groupby("Gender") # agrupando por genero

In [21]:
basic.groupby("Gender").mean() # la media por cada gÃ©nero

               Age  ...       Hour
Gender              ...
Diverse  27.500000  ...  11.000000
Female   31.261780  ...  14.031250
Male     32.740777  ...  14.143947

[3 rows x 6 columns]

In [22]:
basic["Yearly brutto salary (without bonus and stocks) in EUR"] = pd.to_numeric(basic["Yearly brutto salary (without bonus and stocks) in EUR"]) # convirtiendo a numeric

In [23]:
basic.info() # ya aparecen los nuevos campos de fecha creados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 15 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Timestamp                                               1253 non-null   datetime64[ns]
 1   Age                                                     1226 non-null   float64
 2   Gender                                                  1243 non-null   object
 3   City                                                    1253 non-null   object
 4   Position                                                1247 non-null   object
 5   Total years of experience                               1237 non-null   object
 6   Years of experience in Germany                          1221 non-null   object
 7   Seniority level                                         1241 non-null   object
 8   Your main technology / programming language             1126 non-null   object
 9   Other technologies/programming languages you use often  1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR  1253 non-null   float64
 11  Year                                                    1253 non-null   int64
 12  Month                                                   1253 non-null   int64
 13  Day                                                     1253 non-null   int64
 14  Hour                                                    1253 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(8)
memory usage: 147.0+ KB

In [28]:
basic.groupby("Seniority level")

In [29]:
basic.groupby("Seniority level").mean() # media por cargos y niveles

                                                 Age  ...       Hour
Seniority level                                       ...
C-Level                                    36.000000  ...  15.000000
C-level executive manager                  31.000000  ...  12.000000
CTO                                        32.000000  ...  21.000000
Director                                   33.000000  ...  23.000000
Entry level                                23.000000  ...  16.000000
Head                                       36.720930  ...  14.409091
Intern                                     22.000000  ...   9.000000
Junior                                     28.666667  ...  13.873418
Key                                        28.000000  ...  11.000000
Lead                                       34.777778  ...  14.168675
Manager                                    36.000000  ...  12.000000
Middle                                     30.206128  ...  13.931694
No level                                   32.000000  ...  11.000000
No level                                   42.000000  ...  22.000000
Principal                                  35.000000  ...  14.666667
Self employed                              45.000000  ...  23.000000
Senior                                     33.549550  ...  14.187611
Student                                    25.000000  ...  19.000000
VP                                         40.000000  ...  12.000000
Work Center Manager                        38.000000  ...  12.000000
Working Student                            24.000000  ...  13.000000
intern                                     29.000000  ...  14.000000
no idea, there are no ranges in the firm   47.000000  ...  23.000000
student                                    24.000000  ...  22.000000

[24 rows x 6 columns]